@charset "utf-8";

/* Rounded avatars */
body,
html {
	border: 0;
	margin: 0;
}
body {
	font-family: "Roboto", Sans-Serif;
	/* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(
		to bottom,
		rgba(255, 255, 255, 1) 0%,
		rgba(200, 200, 200, 1) 100%
	);
}

h1,
h2 {
	padding: 0;
	margin: 3rem 0 0 0;
	font-size: 10rem;
	display: none;
}

table {
	font-family: sans-serif;
	min-width: 60rem;
	width: 70%;
	margin: 0 auto 0 auto;
}

tr,
.header_row {
	display: flex;
	flex-direction: row;
	padding: 1rem;
	border: 1px solid #00000010;
}

a {
	color: black;
	text-decoration: none;
}

a:hover {
	color: green;
	text-decoration: underline;
}

.header_row {
	background: #66666695;
	border-radius: 0.3rem 0.3rem 0 0;
}
th,
.datetime,
.username,
.url,
.tags {
	padding: 0 1rem 0 0;
	display: flex;
	min-width: 14rem;
}

tr:nth-child(even) {
	background-color: #4caf504a;
}
tr:nth-child(odd) {
	background-color: #ffffff4a;
}
#countdown {
	font-size: 0.2rem;
	min-height: 2rem;
	opacity: 0.3;
	font-family: monospace;
}

$input-height: 1.75rem;

.table-list-container {
	max-width: 800px;
	margin: 20px auto;
	background-color: #ffffff;
	border: 1px solid #d2d2d2;
	position: relative;
	z-index: 0;
}

@media (max-width: 640px) {
	.table-list-container {
		border-width: 1px 0;
	}
}

input {
	border: solid 1px #ccc;
	border-radius: 5px;
	padding: 7px 14px;
	margin-bottom: 10px;
}
input:focus {
	outline: none;
	border-color: #aaa;
}

.sort:hover {
	text-decoration: none;
}
.sort:focus {
	outline: none;
}
.sort:after {
	display: inline-block;
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid transparent;
	content: "";
	position: relative;
	top: -10px;
	right: -5px;
}
.sort.asc:after {
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid #fff;
	content: "";
	position: relative;
	top: 4px;
	right: -5px;
}
.sort.desc:after {
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid #fff;
	content: "";
	position: relative;
	top: -4px;
	right: -5px;
}
.header {
	background: grey !important;
	border-radius: 0.3rem 0.3rem 0 0;
}

.pagination {
	width: 20rem;
	text-align: center;
	margin: 0 auto 0 auto;
}
.pagination li {
	display: inline-block;
	padding: 5px;
	border: 1px solid black;
	margin: 0 0.5rem 0 0;
}
